.con1 {
    display: block;
    border-radius: 8px;
    padding: 8px;
    transform: translateZ(0);
    height: 300px;
    -webkit-overflow-scrolling: touch;
}

.touch .con1 {
    overflow: auto;
}

.con1[data-at*=left]>.con1_in::before {
    opacity: 1;
    text-indent: -50px;
}

.con1[data-at*=right]>.con1_in::after {
    opacity: 1;
    text-indent: -50px;
}

.con1::after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: -4px;
    left: 0;
    background: rgb(226, 45, 0);
    height: 4px;
    border-radius: 4px;
    opacity: 0;
    width: var(--scrollWidth, 0);
    left: var(--scrollLleft, 0);
    transition: opacity 0.2s, bottom 0.2s;
}

.con1:hover::after {
    opacity: 1;
    bottom: -10px;
}

.con1>.con1_in {
    overflow: hidden;
    border-radius: 4px;
}

.con1>.con1_in::before,
.con1>.con1_in::after {
    content: "‹";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    font-size: 80px;
    text-indent: -30px;
    line-height: 200px;
    font-family: monospace;
    color: #555;
    font-weight: bold;
    border-radius: 8px;
    pointer-events: none;
    transition: 0.2s ease-out;
    background: linear-gradient(to right, rgb(250, 250, 250, .5) 40%, transparent);
}

.con1>.con1_in::after {
    transform: rotate(180deg);
    left: auto;
    right: 0;
}

.con1>.con1_in>ul {
    list-style: none;
    white-space: nowrap;
    height: 500px;
}

.con1>.con1_in>ul>li:first-child {
    margin: 0;
}

.con1>.con1_in>ul>li>img {
    display: block;
    margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    transition: 1s ease;
}